* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #4176e8;
    padding: 30px;
    color: #fff;
}

header nav {
    justify-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color:#a3c0ff;
    transition: 0.4s ease;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

header nav ul li a:hover {
    color:#fff;
    transform:scale(1.05);
}

main {
    padding: 50px;
    justify-self: center;
}

.container {
    padding: 40px;
    border-radius: 12px;
    background-color: #f7f7f7;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)
}

.container h2 {
    color: #4176e8;
    text-align: center;
    padding-bottom: 30px;
    font-size: 50px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 20px;
}

.formtext {
    font-weight: bold;
    font-size: 20px;
}

input {
    border-radius: 12px;
    outline: none;
    border: 2px #b5b5b5 solid;
    padding:5px;
    padding-right: 700px;
    margin-left: 20px;
}

input::placeholder {
    font-weight: bold;
    padding: 2px;
}

bottom {
    position: relative;
    left: 492px;
    padding: 20px;
    background-color: #4176e8;
    border: 4px #305dbf solid;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    width: 250px;
    transition: 0.4s ease;
}

bottom:hover {
    transform: scale(1.05);
    border: 4px #305dbf solid;
}

table {
    padding: 100px;
    justify-self: center;
    height: auto;
    width: 700px;
}

thead {
    background-color: #4176e8;
    padding: 10px;
}

tr th {
    padding-inline: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;
}

tbody tr {
    transition: background 0.3s ease, transform 0.5s ease;
}

tbody tr:hover {
    transform: scale(1.05);
    filter: brightness(0.70);
}

tbody tr:nth-child(odd) { background-color: #dfdfdf; }
tbody tr:nth-child(even) { background-color: #ededed; }

td img {
    height: auto;
    width: 100px;
    justify-self: center;
    border-radius: 12px;
}

td {
    text-align: center;
    padding: 10px;
}

.id {
    font-weight: bold;
}

footer {
    background: #4176e8;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 20px;
}